---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ mongodb_organization_credentials_secret_name }}"
  namespace: {{ k8s_namespace }}
type: Opaque
stringData:
  user: {{ ops_manager_organization_creation_api_key.json.publicKey }}
  publicApiKey: {{ ops_manager_organization_creation_api_key.json.privateKey }}
